html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  position: absolute;
  z-index: 1;
  padding-bottom: 100px;
}

.error{
  background-color: rgb(236, 47, 47);
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

  .floatingReload{
    background-color: rgb(255 255 255 / 95%);
    color: rgb(0, 0, 0);
  }

  .checkbox {
    border: 3px solid white;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.198);
  }
} */
