.container {
  /* max-width: 600px; */
  /* max-height: 600px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 30px;
  margin: 10px 0;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.198);
  /* border: 1px solid red; */
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  min-width: 50px;
  min-height: 50px;
  max-width: 600px;
  /* max-height: 100px; */
  border: 3px solid white;
  margin-right: 4vw;
}

.buttonsContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5vh 0;
}
.floatingReload{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
 
  font-size: 1.6rem;
  background-color: rgb(255 255 255 / 95%);
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  width: 35vw;
  height: 12vh;
  min-width: 50px;
  max-width: 200px;
  max-height: 60vh;
}

.floatingReload p:nth-child(1){
  font-size: 1.3rem;
}

.evelin, .leo, .ismael{
  height: 9vh;
  width: 28vw;
  font-size: 1.3rem;
}